// Colors
$background: #141318;

$menu_background: #353535;
$menu_hover: #6e00e3;

$workspace_bg_occupied: #611cff; 
$workspace_occupied: #fff; 

$workspace_bg_empty: #555555; 
$workspace_empty: #dbdbdb; 

$workspace_bg_current: #020099;
$workspace_current: #fff;

* {
  all: unset; // Unsets everything so you can style everything from scratch
}

// Global Styles
.bar {
  background-color: $background;
  color: #FFFFFF;
  padding: 10px 20px;
}

.center-stuff {
  font-weight: bold;
}

// Workspaces
.workspace-entry {
  color: #fff;
  padding: 1px 6px;
  margin: 0px 2px;
  border-radius: 4px;
  font-weight: bold;
}

.occupied {
  color: $workspace_occupied;
  background-color: $workspace_bg_occupied;
}

.empty {
  color: $workspace_empty;
  background-color: $workspace_bg_empty;
}

.current {
  color: $workspace_current;
  background-color: $workspace_bg_current;
}

// SysTray

systray {
  background-color: #fff;
}

// Menu items
menu {
  padding: 5px;
  background-color: $menu_background;
  color: #fff;

  menuitem {
    border-radius: 5px;
    padding: 8px 12px;
    background-color: transparent;

    &:backdrop {
      background-color: #FFFFFF;
    }
  }

  menuitem arrow {
    min-width: 16px;
    min-height: 16px;

    &:dir(ltr) {
      -gtk-icon-source: -gtk-icontheme('pan-end-symbolic');
      margin-left: 10px;
      margin-right: 0;
    }
  }

  menuitem:hover {
    background-color: $menu_hover;
  }
}
