# Ignore everything
*

# Except these files/folders (use ! to unignore)
!.gitignore
!eww/**
!waybar/**
!hypr/**
!rofi/**
!kitty/**
!matugen/**
!nvim/**
!tofi/**
!scripts/**
!qutebrowser/**
!spicetify/**
!mpv/**
!starship.toml
!.tmux.conf
!.zshrc

!*/
