// (label :text "${workspace.id}")
@import '../colors.scss';

// Colors
$bar-background: $surface;
$bar-foreground: $on_surface;

$menu_background: $surface;
$menu_hover: $primary;
$menu_border: $on_primary;
$menu_item_border: $surface_variant;

$workspace_bg_occupied: $on_primary; 
$workspace_occupied: $on_primary; 

$workspace_bg_empty: #3D3D3D; 
$workspace_empty: #3D3D3D; 

$workspace_bg_current: $primary;
$workspace_current: $primary;

$power_color: $primary;
$power_AC: $on_primary;
// TODO
$power_BAT_30: #e74c3c;
$power_BAT_60: #f1c40f;
$power_BAT_100: #2ecc71;

* {
  all: unset; // Unsets everything so you can style everything from scratch
}

// Global Styles
.bar {
  background-color: $bar-background;
  // background-color: transparent;
  color: $bar-foreground;
  padding: 10px 20px;
}

.center-stuff {
  font-weight: bold;
}

// Spotify media
.media-button {
  margin-left: 8px;
  padding: 0px 6px;
  font-size: 20px;
}
.active {
  color: #1DB954;
}
.passive {
  color: gray;
}
.media-text {
  margin-left: 8px;
  font-weight: bold;
  background-color: #1DB954;
  padding: 2px 6px;
  border-radius: 12px;
}

// Systray
// .systray {
//   background-color: #1a1a1a ;
//   padding: 0px 12px;
//   border-radius: 10px;
// }
// (eventbox :cursor "pointer"
//   (systray 
//     :class "systray"
//     :spacing 8
//     :icon-size 16
//     :prepend-new true
//   )
// )

// Battery
.battery {
  margin: 1px 2px 1px 16px;
  padding: 0px 8px;
  font-weight: bold;

  border-radius: 10px;
  color: $power_color;
}

.AC {
  background-color: $power_AC;
}
.b30 {
  background-color: $power_BAT_30;
}
.b60 {
  background-color: $power_BAT_60;
}
.b100 {
  background-color: $power_BAT_100;
}

// Powermenu button
.powermenu-button {
  font-size: 16px;
  margin: 0px 4px 0px 12px;
  padding: 1px 10px 0px 6px;
  border-radius: 10px;
  color: $on_error;
  background-color: $error;
  transition: background-color 0.3s ease;
}
.powermenu-button:hover {
  background-color: $error_container;
  color: $on_error_container;
}

// Bluetooth button
// .bluetooth-button {
//   font-size: 16px;
//   margin: 0px 4px 0px 12px;
//   padding: 4px 6px 4px 6px;
//   background-color: #202020;
//   border-radius: 10px;
//   color: $primary;
// }

// Workspaces
.workspaces {
  padding: 4px 0px;
}

.workspace-entry {
  color: #fff;
  min-width: 20px;
  margin: 0px 3px;
  border-radius: 100%;
  font-weight: bold;
}

.occupied {
  color: $workspace_occupied;
  background-color: $workspace_bg_occupied;
}

.empty {
  color: $workspace_empty;
  background-color: $workspace_bg_empty;
}

.current {
  color: $workspace_current;
  background-color: $workspace_bg_current;
}

// SysTray

systray {
  background-color: #fff;
}

// Menu items
menu {
  padding: 4px;
  background-color: $menu_background;
  color: #fff;
  border-radius: 12px;

  border: 2px solid;
  border-color: $menu_border;

  menuitem {
    border-radius: 5px;
    padding: 6px 10px;
    margin: 6px;
    background-color: transparent;

    border: 2px solid;
    border-color: $menu_item_border;

    box-shadow: 0px 2px 0px 1px black;



    &:backdrop {
      background-color: #FFFFFF;
    }
  }

  menuitem arrow {
    min-width: 16px;
    min-height: 16px;

    &:dir(ltr) {
      -gtk-icon-source: -gtk-icontheme('pan-end-symbolic');
      margin-left: 10px;
      margin-right: 0;
    }
  }

  menuitem:hover {
    background-color: $menu_hover;
    font-weight: bold;
  }
}
